[phases.setup]
nixPkgs = ["nodejs_20", "pnpm", "bun"]

[phases.install]
cmds = [
  "pnpm config set enable-pre-post-scripts true",
  "pnpm config set ignore-scripts false",
  "pnpm config set unsafe-perm true",
  "pnpm install"
]

[phases.build]
cmds = [
  "pnpm --filter api exec prisma generate",
  "pnpm --filter api build"
]

[start]
cmd = "pnpm --filter api start"